# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.resolved
*.resolved.*
*.metadata.json

# OpenSSL Build Artifacts
openssl-build/
*.tar.gz

# Testing
playwright-report/
test-results/
coverage/
.env
